# This is Git's per-user configuration file.
[color]
	ui = true
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto

[user]
	name = NEO
	email = itsneo1990@gmail.com
[core]
	autocrlf = false
	excludesfile = /Users/itsneo1990/.gitignore_global
	whitespace = blank-at-eol,blank-at-eof,space-before-tab
	pager = diff-so-fancy | bat

[http]
	proxy = http://10.9.8.2:3128
#[socks]
# 	proxy = http://10.9.8.2:3128

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/itsneo1990/.stCommitMsg
